/* h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Rubik';
}

.result-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    min-width: 25%;
    width: calc(25% - 10px);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.result-image {
    height: 90%;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
} */

.result-part {
    width: 80%;
    height: 80%;
    background-color: rgb(219, 219, 219);
    border: solid 1px black;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Rubik';
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
